td.col_header.response-col_status {
    color: brown !important;
}

td.col_header.response-col_description {
    color: brown !important;
    font-size: 14px;
}

th.col_header.parameters-col_description {
    color: brown !important;
    font-size: 14px;
}

th.col_header.parameters-col_name {
    color: brown !important;
    font-size: 14px;
}

td.col_header.response-col_links {
    color: brown !important;
    font-size: 14px;
}

td.response-col_status {
    color: blue !important;
}


div.response-col_description__inner {
    border-radius: 5px;
    background: #a9a9a9;

    font-size: 14px;

    padding-top: 1px !important;
    padding-left: 5px !important;
    padding-right: 5px !important;
    padding-bottom: 1px !important;
}

/*Css for custom page header*/

.customTop {
    padding: 10px 0;
    background-color: #1b1b1b;
}

.customTopWrapper {
    width: 100%;
    max-width: 1460px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
}

.customContent {
    width: 100%;
    background-color: #1b1b1b
}
